<!-- 내비게이션 바 -->
        <nav class="navbar">
            <div class="navbar_logo">
                <i class = "fa-solid fa-leaf"></i>
                <a href="{%url 'home' %}">Albo Market</a>
            </div>

            <ul class="navbar__menu">
                <li><a href="{%url 'home' %}">홈</a></li>
                <li><a href="{%url 'signup' %}">회원가입</a></li>
                <li>로그인</li>
                <li>로그아웃</li>
                <li>글쓰기</li>
            </ul>

            <ul class="navbar__icons">
                <li><i class="fa-brands fa-twitter"></i></li>
                <li><i class="fa-brands fa-facebook"></i></li>
                <li><i class="fa-brands fa-instagram"></i></li>
            </ul>

            <a href="#" class="navbar__toggleBtn">
                <i class="fa-solid fa-bars"></i>
            </a>
        </nav>